<app-header></app-header>
<app-header></app-header>
<app-header></app-header>
<app-header></app-header>
<p>
  <!-- interpolation -->
  Employee Name : {{name}}
</p>

<!-- property binding -->
<!-- <div [hidden]="hide" [innerText]="name">

</div> -->
<!-- Template Ref -->
<div #errorDiv>

</div>

<div *ngIf="hide" [innerText]="name">

</div>

<button (click)="toggle()">Toggle</button>

<h1>
  Employee Details
</h1>
<div>
  {{employee.id}}
</div>
<div>
  {{employee.name}}
</div>

<button class="btn btn-primary" (click)="addEmployee()">
  Add Employee
</button>
<app-employee-list [empList]="employeeList" [title]="'Employee List'"
(selectedEmployee)="receiveFromChild($event)"></app-employee-list>
